@inherits LayoutComponentBase

<HeadContent>
    <RadzenTheme Theme="material" />
</HeadContent>

<RadzenLayout>
    <RadzenSidebar>
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Home" Path="/" Icon="home" />
        </RadzenPanelMenu>
    </RadzenSidebar>
    <Avenged.Radzen.PageStack.PageStack>
        <div class="rz-p-4">
            @Body
        </div>
    </Avenged.Radzen.PageStack.PageStack>
</RadzenLayout>